@import "../../../style/fonts.scss";

.location {
    &__place {
        margin: 0;

        text-transform: uppercase;

        @include font-montserrat(44, 700);
    }
    &__date-time {
        text-transform: capitalize;

        @include font-montserrat(24, 600);
    }
}

@media screen and (max-width: 767px) {
    .location {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__place {
            text-align: center;
        }

        &__date-time {
            text-align: center;
        }
    }
}