@import "../../../style/fonts.scss";

.location {
    &__place {
        margin: 0;

        text-transform: uppercase;

        @include font-montserrat(44, 700);
    }
    &__date-time {
        text-transform: capitalize;
        @include font-montserrat(24, 600);
    }
}