@import "../../../style/fonts.scss";

.other-days {
    display: flex;

    &__other-day {
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
    }
    &__weekday {
        text-transform: uppercase;

        @include font-montserrat(22,700);
        grid-column: 1/3;
        grid-row: 1/2;
    }

    &__temp {
        grid-column: 1/2;
        grid-row: 2/3;

        @include font-montserrat(80, 600);

        &::after {
            content: "°";
        }
    }

    &__icon {
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width: 767px) {
    .other-days {
        align-items: center;
        flex-direction: column;

        margin-top: 28px;
        padding-left: 46px;

        &__icon {
            width: 100px;
            height: 100px;
        }

        &__other-day {
            grid-template-columns: min-content;
        }
    }
}