@import "../../style/constants.scss";

.weather {
    position: relative;

    flex: none;

    min-height: 528px;
    &__loader {
        position: absolute;
        top: 0;
        right: 140px;
        bottom: 0;
        left: 0;

        width: 50px;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .weather {
        &__loader {
            bottom: $header-min-height;
        }
    }
}

