$light-gray: rgba(174, 181, 185, .5);
$light-gray-hover: rgba(189, 196, 200, .5);
$dark-gray: rgba(76, 82, 85, .4);
$dark-gray-hover: rgba(91, 97, 100, .6);
$drop-menu-dark-gray: rgb(76, 82, 85);
$drop-menu-dark-gray-hover: rgb(89, 90, 91);
$border-radius: 5px;
$arrow-color: rgba(255, 255, 255, .4);
$font-color: rgba(255, 255, 255, 1);
$fast-transition: .3s;
$slow-transition: .6s;
$search-border: rgba(228, 227,227, .2);
$notifications-font-color: rgb(255, 0, 0);
$notifications-bg-color: #ffc7c7;
$header-min-height: 124px;