$light-gray: rgba(174, 181, 185, .5);
$light-gray-hover: rgba(189, 196, 200, .5);
$dark-gray: rgba(76, 82, 85, .4);
$dark-gray-hover: rgba(91, 97, 100, .6);
$border-radius: 5px;
$arrow-color: rgba(255, 255, 255, .4);
$font-color: rgba(255, 255, 255, 1);
$fast-transition: .3s;
$slow-transition: .6s;
$search-border: rgba(228, 227,227, .2)