@import './constants.scss';
@import './fonts.scss';

html {
    height: 100%;
}

body {
    color: $font-color;
    @include font-montserrat(16, 400);
    margin: 0;
    p {
        margin: 0;
    }
}