@import "../../../style/constants.scss";
@import "../../../style/fonts.scss";
@import "../../../style/placeholder.scss";

.search {
    display: flex;

    width: 100%;
    max-width: 375px;
    height: 44px;

    &__button {
        width: 101px;

        color: white;
        border: none;
        border-radius: 0 $border-radius $border-radius 0;
        outline: none;
        background-color: $light-gray;

        cursor: pointer;
        text-transform: uppercase;
@include font-montserrat(14, 700);

        &:hover {
            background-color: $light-gray-hover;
        }
    }

    &__input {
        flex: auto;

        padding: 0 15px;

        color: $font-color;
        border: 1px solid $search-border;
        border-radius: $border-radius 0 0 $border-radius;
        outline: none;
        background-color: $dark-gray;

        @include search-placeholder(14);

        &:hover {
            background-color: $dark-gray-hover;
        }
    }
}

@media screen and (max-width: 767px) {
    .search {
        &__input {
            @include search-placeholder(12);
        }
    }
}